.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fbc000;
  width: 100%;

}

.desktopSocial {
  display: flex;

}

.mobileSocial {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobileSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktopSocial {
    display: none;
  }
  
}
.footercontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  margin: 10px 20px;
  width: 90%;
  
}

.footerLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
}


.cloudyFooter {
  width: 50px !important;
  height: 50px !important;
  margin: 0px 10px;
  background-color: #fbc000;
  border-radius: 100%;
}


.footercontainer h3 {
  display: flex;
  margin: 0px 0px 0px 0px;
  line-height: 1.5;
  align-items: center;
}

.SocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
  flex-wrap: wrap;
}

.SocialMedia img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.footerpages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  
  padding: 0px;
  
}


.footerbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0px;
  color: black;
  line-height: 0;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.linha-horizontal {
  display: flex;
  margin-top: 10px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1); /* Ou qualquer cor desejada */
  border-radius: 2px;
  width: 100%; /* Ou ajuste a largura conforme necessário */
}

.RightMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0px;
  color: black;
  
}

.FooterNav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
  padding: 10px;
  color: black;
  
}

.AboutUs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 10px;
  color: black;
  flex-wrap: wrap;
}