
.Header {
  background-color: #fbc000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerIMG {
  width: 100%;
  height: auto;
  max-height: 100vh;
  min-height: 100vh;
  object-fit: cover;
}

.Header h1 {
  display: flex;
  margin: 20px;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cloudy {
  width: 50px !important;
  height: 50px !important;
  margin: 0px 10px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #fbc000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  margin: 0px 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: auto;
  background-color: #fbc000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}

.box img {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}


.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fbc000;
  width: 100%;

}

.footercontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  margin: 10px 20px;
  width: 90%;
  
}

.cloudyFooter {
  width: 50px !important;
  height: 50px !important;
  margin: 0px 10px;
  background-color: #fbc000;
  border-radius: 100%;
}

.footercontainer h3 {
  display: flex;
  margin: 0px 0px 0px 0px;
  line-height: 1.5;
  align-items: center;
}

.footerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: fit-content;
}

.footerbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 20px;
  color: black;
  line-height: 0;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.linha-horizontal {
  display: flex;
  margin-top: 10px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1); /* Ou qualquer cor desejada */
  border-radius: 2px;
  width: 100%; /* Ou ajuste a largura conforme necessário */
   
}